<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Simulator WebUI</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="author" content="Szabó Gergely (Gerviba)" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="robots" content="index, follow">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" th:href="@{/webui/style.css}" type="text/css" media="all" />
<meta name="msapplication-TileColor" content="#153243">
<meta name="theme-color" content="#153243">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>
<script th:inline="javascript">
	function updateStats() {
		$.ajax({
			url : /*[[@{/api/slaves}]]*/ "/api/slaves",
			cache : false
		}).done(function(data) {
			var tbody = "";
			var event = new Date();
			var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' };

			data.forEach(function(slave) {
				tbody += "<tr>" +
					"<td>" + slave.host + "</td>" +
					"<td>" + (slave.available ? "ONLINE" : "-") + "</td>" +
					"<td>" + (slave.rangeStart == -1 ? 'NO' : (slave.rangeStart + " - " + slave.rangeEnd)) + "</td>" +
					"<td>" + (slave.running ? "<b>ON</b>" : "OFF") + "</td>" +
					"<td><b>" + slave.success + "</b> / " + slave.failed + "</td>" +
					"<td>" + (new Date(slave.lastUpdated).toLocaleDateString((navigator.language || navigator.userLanguage), options)) + "</td>" +
				"</tr>";
			});
			console.log(tbody);
			$("#slaves-list").html(tbody);
		});
	}
	
	$(function() {
		updateStats();
	    setInterval(updateStats, 1000);
	});
</script>
</head>
<body>
	<div class="wrapper">
		<div class="menu">
			<h1>Simulator</h1>
			<h2>MODE: <span th:text="${mode}">MASTER</span></h2>
			<nav>
				<a th:href="@{/webui/}"><i class="material-icons">dashboard</i> <span>Dashboard</span></a> 
				<a th:href="@{/webui/settings}"><i class="material-icons">settings</i> <span>Settings</span></a> 
				<a th:href="@{/webui/controls}" th:if="${mode} == 'STANDALONE'"><i class="material-icons">tune</i> <span>Controls</span></a> 
				<a th:href="@{/webui/cluster}" th:if="${mode} == 'MASTER'"><i class="material-icons">storage</i> <span>Cluster</span></a>
			</nav>
		</div>
		<div class="content">
			<h1>Cluster</h1>
			
			<div class="error" th:if="${zeroVehicle}">
				<p>The vehicle count is currently zero. <a th:href="@{/webui/settings}">Settings</a></p>
			</div>
			
			<h2>Slaves</h2>
			<table class="wide">
				<thead>
					<tr>
						<th>Host</th>
						<th>Status</th>
						<th>Range</th>
						<th>Generator</th>
						<th>Success / Failed</th>
						<th>Last update</th>
					</tr>
				</thead>
				<tbody id="slaves-list">
					<tr>
						<td>127.0.0.1:8090</td>
						<td>ONLINE</td>
						<td>0 - 200</td>
						<td>ON</td>
						<td><b>0</b> / 0</td>
						<td>just now</td>
					</tr>
				</tbody>
			</table>
			<table>
				<tr>
					<th>Cluster</th>
					<th></th>
				</tr>
				<tr>
					<td>Running</td>
					<td th:text="${clusterRunning} ? 'ON' : 'OFF'"></td>
				</tr>
				<tr>
					<td>Action</td>
					<td>
						<form action="#" th:action="${clusterRunning} ? @{/webui/cluster/stop} : @{/webui/cluster/start}" method="post">
							<input type="submit" value="Start" th:value="${clusterRunning} ? 'Stop' : 'Start'" />
						</form>
					</td>
				</tr>
				<tr th:unless="${clusterRunning}">
					<td>Force stop</td>
					<td>
						<form action="#" th:action="@{/webui/cluster/stop}" method="post">
							<input type="submit" value="!!!" />
						</form>
					</td>
				</tr>
			</table>
			
		</div>
	</div>
</body>
</html>